# Modo local por defecto: usa los mocks JSON del proyecto
PUBLIC_USE_API=false
PUBLIC_API_URL=
PUBLIC_COLLECTIONS_API_URL=

# Cuando quieras activar el CMS en local:
# PUBLIC_USE_API=true
# PUBLIC_API_URL=http://localhost:8000/api/home/
# PUBLIC_COLLECTIONS_API_URL=http://localhost:8000/api/collections/
